- breadcrumb_title _('Kubernetes')
- page_title _('Kubernetes Cluster')
- active_tab = 'user'

.row.prepend-top-default
  .col-md-3
    = render 'sidebar'
  .col-md-9.js-toggle-container
    %ul.nav-links.nav-tabs.gitlab-tabs.nav{ role: 'tablist' }
      %li.nav-item{ role: 'presentation' }
        %a.nav-link{ href: '#add-user-cluster-pane', id: 'add-user-cluster-tab', class: active_when(active_tab == 'user'), data: { toggle: 'tab' }, role: 'tab' }
          %span Add existing cluster

    .tab-content.gitlab-tab-content
      .tab-pane{ id: 'add-user-cluster-pane', class: active_when(active_tab == 'user'), role: 'tabpanel' }
        = render 'clusters/clusters/user/header'
        = render 'clusters/clusters/user/form'
